.BodyContent {
    box-sizing: border-box;
    position: relative;
    height: auto;
    margin-bottom: 20px;
}

.BodyHeader {
    display: flex;
    justify-content: center;
    background-color: #1877F2;
    word-spacing: 10px;
    letter-spacing: 5px;
    width: 100%;
    text-transform: uppercase;
    font-size: 2.5em;
    color: #ffffff;
    padding: 1vh;
    margin: 2vh 0;
}

.post-meta li a {
    color: #999;
    font-size: 13px;
}

p {
    color: white;
    font-size: 20px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}